/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
color: #222;
font-size: 1em;
line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
border: 0;
margin: 0;
padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* Globals */

/* Apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 0;
}

body, html, main {
  height: 100%;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Page Header */

.page-header {
  color: #000;
  padding: 0 2.5em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  line-height: 1.21;
  letter-spacing: 0.05em;
  position: fixed;
}

/* Jumbotron Background Image */

.jumbotron {
  padding: 0;
}

.jumbotron__bg {
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron__content {
  color: #fff;
  position: absolute;
  z-index: 10;
  left: 49.25%;
}

.jumbotron__content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.075em;
  font-size: 0.75em;
  padding-top: 625px;
  position: fixed;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  color: #fff;
  position: absolute;
  left: 50%;
  padding-top: 625px;
}

/* Navigation */

.main-nav {
  border: 1px solid green;
  width: 100%;
  height: 3em;
  position: fixed;
  color: #fff;
  -webkit-transform-origin: right top;
  -webkit-transform:rotate(-90deg) translateY(-100%);

}

ul.nav li {
  margin-right: 50px;
  float: right;
  height: 100%;
  line-height: 45px;
}


/* Projects Section */ 

.page-section-projects {
  margin: auto;
}

.page-section-projects p {
  color: #333;
  text-decoration: none;
}

.page-section-projects h6 {
  color: #979797;
  font-weight: 300;
  text-decoration: none;
}

/* Column 1 Projects */

.col-1 {
  border: 1px solid blue;
  padding: 38.5em 2em 5em 10em; /* 10em is confirmed */
  width: 50%;
  float: left;
  text-align: center;
}

/* Column 2 Projects */

.col-2 {
  border: 1px solid red;
  padding: 23.4em 11em 2em 2em;
  width: 50%;
  float: right;
  text-align: center;
}

/* Footer */

.page-footer {
  clear: both;
  color: #fff;
  background-color: #000;
}

.page-footer ul {
  font-family: 'Open Sans', sans-serif;
}

.page-footer a {
  color: #fff;
  text-decoration: none;
}


/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
-webkit-clip-path: inset(50%);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
-webkit-clip-path: none;
clip-path: none;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 1.25dppx),
 (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
*,
*:before,
*:after {
  background: transparent !important;
  color: #000 !important; /* Black prints faster:
                             http://www.sanbeiji.com/archives/953 */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/

a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre {
  white-space: pre-wrap !important;
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
