/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
color: #222;
font-size: 1em;
line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
border: 0;
margin: 0;
padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* Globals */

/* Apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 0;
}

body, html, main {
  height: 100%;
}

h1,
h2, 
h3,
h4, 
h5,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  line-height: 1.4;
}

h2,
h3 {
  color: #333;
  text-align: left;
}

h2, h3, h4, h5 {
  letter-spacing: 0.05em;
}

h2, h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Page Header */

.page-header {
  padding: 0 2.5em;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: #000;
  line-height: 1.21;
  letter-spacing: 0.04em;
  position: fixed;
}

/* Jumbotron Background Image */

.page-section-jumbotron {
  position: relative;
}

.jumbotron__bg {
  display: block;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron__content p, .jumbotron__content h1 {
  position: absolute;
  color: #fff;
}

.jumbotron__content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: 0.075em;
  bottom: 0;
  padding-bottom: 4.5em;
  left: 50.25%;
}

.jumbotron__content h1 {
  font-weight: 100;
  bottom: 0.1em;
  line-height: 0;
  left: 51%;
}

/* Navigation */

.main-nav {
  /* border: 1px solid green; */
  width: 100%;
  height: 3em;
  position: fixed;
  color: #4a4a4a;
  -webkit-transform-origin: right top;
  -webkit-transform: rotate(-90deg) translateY(-100%);
}

ul.nav li {
  font-size: 0.82em;
  font-weight: 400;
  letter-spacing: 0.12em;
  float: right;
  line-height: 1;
  margin-right: 45px;
  list-style: none;
}

.main-nav ul:first-child {
  margin-right: 185px
}

.main-nav a:hover {
  border-bottom: 1px solid #4a4a4a;
  width: 50%;
}

/* Projects Section */ 

h2 {
  font-size: 1.4em;
  line-height: 0.25;
}

h3 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 0.3;
  padding-bottom: 2.82em;
 }

h5 {
  font-size: 0.92em;
  color: #4a4a4a;
  margin-bottom: 0.01em;
}

p {
  font-size: 0.72em;
  font-weight: 200;
  color: #b0b0b0;
  letter-spacing: 0.12em;
  margin-top: 0.1em;
}

.page-section-projects {
  margin: auto;
  max-width: 90em;
}

.col-2-scroll {
  border: 1px solid yellow;
  padding-top: 10em;
  padding-left: 3.8em;
  border-left: 1px solid #d3d3d3;
}

/* Column 1 Projects */

.col-1, .col-2 {
  text-align: center;
  overflow: auto;
}

.col-1 {
  border: 1px solid magenta;
  width: 48%;
  padding: 38.65em 0.2em 5em 11em; /* 10em is confirmed */
  float: left;
}

/* Column 2 Projects */

.col-2 {
  width: 52%;
  border: 1px solid cyan;
  padding: 0em 11em 2em 0em;
  float: right;
}

.project-thumb-col-1, .project-thumb-col-2 {
  border: 1px solid cyan;
  position: relative;
  overflow: hidden;
}

.project-thumb-col-2 {
  margin-left: 3.8em;
}

.project-thumb-col-1 img {
  display: block;
  width: 100%;
}

.project-thumb-col-2 img {
  display: block;
  width: 100%;
}

.project-thumb-col-1:hover img,
.project-thumb-col-1:focus img {
  transform: scale(1.2);
  transition: all 0.5s;
}

figcaption {
  border: 1px solid magenta;
  padding-top: 0.85em;
  padding-bottom: 4.2em;
}

.col-2 figcaption {
  margin-left: 3.8em;
}
/*
.project-thumb-col-2:hover img,
.project-thumb-col-2:focus img {
  transform: scale(1.2);
  transition: all 0.5s;
}

/* Footer */

.page-footer {
  border: 1px solid cyan;
  clear: both;
  color: #fff;
  background-color: #000;
  padding: 4.5em 2.5em 3.1em 0;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: #fff;
}

.page-footer a {
  font-size: 0.82em;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.12em;
}

.page-footer p {
  color: #fff;
}

.social-media, .contact-info {
  float: left;
  overflow: auto;
}

.social-media {
  /*border: 1px solid magenta; */
  width: 27.4%;
  margin-left: 12em;
}

.contact-info {
  /* border: 1px solid cyan; */
  width: 30%;
}

.contact-info img {
  /* border: 1px solid cyan; */
  float: left;
  margin-right: 2em;
}

.contact-info p {
  /* border: 1px solid magenta; */
  padding-top: 2em;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
-webkit-clip-path: inset(50%);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
-webkit-clip-path: none;
clip-path: none;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}

@media print,
 (-webkit-min-device-pixel-ratio: 1.25),
 (min-resolution: 1.25dppx),
 (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
*,
*:before,
*:after {
  background: transparent !important;
  color: #000 !important; /* Black prints faster:
                             http://www.sanbeiji.com/archives/953 */
  box-shadow: none !important;
  text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/

a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre {
  white-space: pre-wrap !important;
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
